@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/**
Gives style to all css document
*/
* {
    margin: 0;
    *box-sizing: border-box;
    *flex-wrap: wrap;

}

/**
Gives style to all html body
*/
body {
    font-family: sans-serif;
    padding: 90px 0px 0;
    background: #222228;
}

/**
Logo image in the navbar
*/
.favicon {
    margin-top: 10px;
    height: 50px;
    width: 50px;
    position: relative;
    left: 100px;
}

/**
Gives style to all header
*/
.header {
    background-color: #1c1c1f;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

/**
Gives style to all nav label
*/
.nav {
    padding: 5px;
    display: flex;
    max-width: 1300px;
    justify-content: space-between;
    margin: 0 auto;
}

/**
Gives style to nav links
*/
.nav-link {
    color: #ffffff;
    text-decoration: none;
}

/**
Logo text next to the logo image
*/
.logo {
    font-size: 30px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    padding: 0 40px;
    line-height: 80px;
    position: relative;
    left: -210px;
}

/**
Navbar avatar style
*/
.nav-avatar {
    margin-top: 10px;
    height: 40px;
    width: 40px;
    position: relative;
    left: 760px;
    top: 10px;
}

/**
Navbar menu style
*/
.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

/**
Gives style to all menu items
*/
.nav-menu-item {
    font-size: 18px;
    margin: 0 5px;
    line-height: 80px;
    text-transform: none;
    width: max-content;
}

/**
Gives style to all nav links
*/
.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

/**
when the course passes next to a navbar element, it will light up.
*/
.nav-menu-link:hover {
    background-color: #565454;
    transition: 0.5s;
}

/**
Gives style to the image on the index. Position and resize
*/
.img-prom {
    position: relative;
    height: 450px;
    width: 450px;
    left: 420px;
    top: 100px;
}

/**
Gives style to the text next to the nft image in the index
*/
.h1-img-prom {
    font-family: sans-serif Arial;
    font-size: 45px;
    color: #ffffff;
}

/**
Gives style to the text next to the nft image in the index
*/
.p-img-prom {
    font-family: sans-serif Aial;
    font-size: 25px;
    color: #7c7c7c;
}

.p-img-prom1 {
    font-family: sans-serif Aial;
    font-size: 25px;
    color: #97bf3b;
}

/**
Gives styles to the image foot behind the index image
*/
.img-foot {
    background-color: #4d4b4b;
    position: relative;
    bottom: 210px;
    height: 70px;
    width: 450px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;


}

/**
Gives style on the footer image text
*/
.h1-img-foot {
    font-family: "Montserrat";
    font-size: 20px;
    color: white;
    position: relative;
    top: 10px;
    left: 80px;
}

/**
Gives style on the footer image text
*/
.h12-img-foot {
    font-family: "Montserrat";
    font-size: 15px;
    color: #0c8bda;
    position: relative;
    top: 10px;
    left: 80px;
}

/**
Gives style to the author in the image footer
*/
.img-author {
    position: relative;
    bottom: 30px;
    left: 28px;
    height: 40px;
    width: 40px;
}

/**
Gives style to the verified badge next to the author
*/
.verified-badge {
    position: relative;
    bottom: 32px;
    left: 90px;
    height: 15px;
    width: 15px;
}

/**
gives style to the button explore in the index
*/
.explore-btn {
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 10px;
    border: none;
    background-color: #0069f3;
}

/**
When the course passes, next to the button the button glows up
*/
.explore-btn:hover {
    background-color: #3e85fa;
    transition: 0.5s;
}

.logout-btn {
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 10px;
    border: none;
    background-color: #5427b6;
    margin-left: 90px;
}

i {
    font-size: 22px;
}

/**
When the course passes, next to the button the button glows up
*/
.logout-btn:hover {
    background-color: #8a5af3;
    transition: 0.5s;
}

/**
Gives style to the button create in the index
*/
.create-btn {
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 10px;
    border: 6px #1c1c1f;
    background-color: #313030;
    margin-left: 17px;
}

/**
When the course passes, next to the button te button glows up
*/
.create-btn:hover {
    background-color: #5b5a5a;
    transition: 0.5s;
}

/**
Gives style to the image on the index
*/
.img-body {
    position: relative;
    left: 1100px;
    bottom: 200px;

    height: 100px;
    width: 100px;
    object-fit: contain;
}

/**
Gives position to the image in the index body
*/
.image {
    position: relative;
    bottom: 180px;
}

/**
Gives style to the item "Sign up/in" in the navbar
*/
.nav-menu-login {
    margin: 0 80px;
}

/**
Gives style to all ther footer
*/
footer {
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Montserrat";
    padding-top: 30px;
    color: white;
    position: relative;
    top: 120px;
}

/**
Gives style to the footer content
*/
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    bottom: 20px;
    width: 100%;
}

/**
Gives style to the h3 label in the footer
*/
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

/**
Gives style to the p label in the footer
*/
.footer-content p {
    max-width: 500px;
    margin: 20px auto;
    line-height: 28px;
    font-size: 14px;
}

/**
Gives style to the repository image in the footer
*/
.members {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 20px;
}

/**
Gives style to the label li in the footer
*/
.members li {
    margin: 0 10px;
}

/**
Gives style to the a label in the footer
*/
.members a {
    text-decoration: none;
    color: #fff;
}

/**
Gives style to the labels a & i in the footer
*/
.members a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

/**
When the cursor passes next to the a & i labels, the github image changes the color
*/
.members a:hover i {
    color: aqua;
}

/**
Gives style to the footer bottom
*/
.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    *right: 20px;
}

/**
Gives style to label p in the bottom of the page
*/
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

